<div class="about">
  <div class="container">
    <h1 class="text-center">Relive your favorite memories</h1>
  </div>
</div>

<div class="supporting">
  <div class="container text-center">
    <h1>No more sorting through photos</h1>
		<p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p>
    <%= link_to "Sign Up", signup_path, :class => "btn btn-primary" %>
  </div>
</div>