<div class="header">
  <div class="container">
    <div class="row">
      <div class="content col-md-6 col-md-offset-6">
    		<h1>Create and share Stories!</h1>
        <%= link_to "Learn More", about_path, :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<div class="supporting">
  <div class="container text-center">
    <h1>Relive and share your adventures</h1>
    <p>Stories automatically creates a digital journal filled with only your best photos.</p>
  </div>
</div>

<div class="additional">
  <div class="container">
  </div>
</div>

<div class="supporting">
  <div class="container text-center">
    <h1>Discover Stories</h1>
    <%= link_to "Learn More", about_path, :class => 'btn btn-primary' %>
  </div>
</div> 

