// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	font-family: 'Roboto', sans-serif;
}

.header {
  background: URL("https://stories-rails.herokuapp.com/assets/home-main-f39dde5d0be8697146db17314f8662f2.jpg") center center;
  background-size: cover;
  height: 700px;
  color: white;
}

.about {
  background: URL("https://stories-rails.herokuapp.com/assets/about-main-5d7831840429815fe86338dd0b2918a8.jpg") center center;
  background-size: cover;
  height: 700px;
  color: white;
}

.additional {
  background: URL("https://stories-rails.herokuapp.com/assets/home-secondary-afc0677adb14766e42df768244930249.jpg") center center;
  background-size: cover;
  height: 500px;
}

.container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.btn, .btn-primary {
  border-radius: 0px;
  padding: 15px 25px; 
}

.icon-menu {
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
}

.menu {
    background-color: #000;
    height: 100%;
    position: fixed;
    top: 0;
    width: 240px;
    left: -240px;
    z-index: 1;
}

.menu ul {
    list-style: none;
    padding-left: 0;
}

.menu .icon-close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.menu li a, .menu li a:visited {
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 100;
    padding: 30px 40px;
    text-decoration: none;
}

.hidden {
  display: none;
}

.footer {
  background: #EEE;
}

.footer .container {
  font-weight: bold;
  padding: 40px;
}